/* line 3, ../sass/_bootstrap.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 9, ../sass/_bootstrap.scss */
body {
  margin: 0;
}

/* line 13, ../sass/_bootstrap.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 29, ../sass/_bootstrap.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 37, ../sass/_bootstrap.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 42, ../sass/_bootstrap.scss */
[hidden],
template {
  display: none;
}

/* line 47, ../sass/_bootstrap.scss */
a {
  background-color: transparent;
}

/* line 51, ../sass/_bootstrap.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 56, ../sass/_bootstrap.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 60, ../sass/_bootstrap.scss */
b,
strong {
  font-weight: 700;
}

/* line 65, ../sass/_bootstrap.scss */
dfn {
  font-style: italic;
}

/* line 69, ../sass/_bootstrap.scss */
h1 {
  margin: .67em 0;
  font-size: 2em;
}

/* line 74, ../sass/_bootstrap.scss */
mark {
  color: #000;
  background: #ff0;
}

/* line 79, ../sass/_bootstrap.scss */
small {
  font-size: 80%;
}

/* line 83, ../sass/_bootstrap.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 91, ../sass/_bootstrap.scss */
sup {
  top: -.5em;
}

/* line 95, ../sass/_bootstrap.scss */
sub {
  bottom: -.25em;
}

/* line 99, ../sass/_bootstrap.scss */
img {
  border: 0;
}

/* line 103, ../sass/_bootstrap.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 107, ../sass/_bootstrap.scss */
figure {
  margin: 1em 40px;
}

/* line 111, ../sass/_bootstrap.scss */
hr {
  height: 0;
  box-sizing: content-box;
}

/* line 116, ../sass/_bootstrap.scss */
pre {
  overflow: auto;
}

/* line 120, ../sass/_bootstrap.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 128, ../sass/_bootstrap.scss */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

/* line 138, ../sass/_bootstrap.scss */
button {
  overflow: visible;
}

/* line 142, ../sass/_bootstrap.scss */
button,
select {
  text-transform: none;
}

/* line 147, ../sass/_bootstrap.scss */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 155, ../sass/_bootstrap.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 160, ../sass/_bootstrap.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 166, ../sass/_bootstrap.scss */
input {
  line-height: normal;
}

/* line 170, ../sass/_bootstrap.scss */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* line 176, ../sass/_bootstrap.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/* line 181, ../sass/_bootstrap.scss */
input[type=search] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 186, ../sass/_bootstrap.scss */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 191, ../sass/_bootstrap.scss */
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid silver;
}

/* line 197, ../sass/_bootstrap.scss */
legend {
  padding: 0;
  border: 0;
}

/* line 202, ../sass/_bootstrap.scss */
textarea {
  overflow: auto;
}

/* line 206, ../sass/_bootstrap.scss */
optgroup {
  font-weight: 700;
}

/* line 210, ../sass/_bootstrap.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 215, ../sass/_bootstrap.scss */
td,
th {
  padding: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  /* line 222, ../sass/_bootstrap.scss */
  *,
  :after,
  :before {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    box-shadow: none !important;
  }

  /* line 230, ../sass/_bootstrap.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 234, ../sass/_bootstrap.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 237, ../sass/_bootstrap.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 240, ../sass/_bootstrap.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 244, ../sass/_bootstrap.scss */
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 249, ../sass/_bootstrap.scss */
  thead {
    display: table-header-group;
  }

  /* line 252, ../sass/_bootstrap.scss */
  img,
  tr {
    page-break-inside: avoid;
  }

  /* line 256, ../sass/_bootstrap.scss */
  img {
    max-width: 100% !important;
  }

  /* line 259, ../sass/_bootstrap.scss */
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  /* line 265, ../sass/_bootstrap.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 269, ../sass/_bootstrap.scss */
  .label {
    border: 1px solid #000;
  }

  /* line 272, ../sass/_bootstrap.scss */
  .table {
    border-collapse: collapse !important;
  }

  /* line 275, ../sass/_bootstrap.scss */
  .table td,
  .table th {
    background-color: #fff !important;
  }
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/glyphicons-halflings-regular.woff2) format("woff2"), url(../fonts/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
}
/* line 287, ../sass/_bootstrap.scss */
* {
  box-sizing: border-box;
}

/* line 291, ../sass/_bootstrap.scss */
:after,
:before {
  box-sizing: border-box;
}

/* line 296, ../sass/_bootstrap.scss */
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 301, ../sass/_bootstrap.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

/* line 309, ../sass/_bootstrap.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 318, ../sass/_bootstrap.scss */
a {
  color: #337ab7;
  text-decoration: none;
}

/* line 323, ../sass/_bootstrap.scss */
a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

/* line 329, ../sass/_bootstrap.scss */
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 334, ../sass/_bootstrap.scss */
figure {
  margin: 0;
}

/* line 338, ../sass/_bootstrap.scss */
img {
  vertical-align: middle;
}

/* line 343, ../sass/_bootstrap.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 349, ../sass/_bootstrap.scss */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

/* line 356, ../sass/_bootstrap.scss */
[role=button] {
  cursor: pointer;
}

/* line 360, ../sass/_bootstrap.scss */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

/* line 378, ../sass/_bootstrap.scss */
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: 400;
  line-height: 1;
  color: #777;
}

/* line 407, ../sass/_bootstrap.scss */
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 417, ../sass/_bootstrap.scss */
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 65%;
}

/* line 432, ../sass/_bootstrap.scss */
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 442, ../sass/_bootstrap.scss */
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%;
}

/* line 457, ../sass/_bootstrap.scss */
.h1,
h1 {
  font-size: 36px;
}

/* line 462, ../sass/_bootstrap.scss */
.h2,
h2 {
  font-size: 30px;
}

/* line 467, ../sass/_bootstrap.scss */
.h3,
h3 {
  font-size: 24px;
}

/* line 472, ../sass/_bootstrap.scss */
.h4,
h4 {
  font-size: 18px;
}

/* line 477, ../sass/_bootstrap.scss */
.h5,
h5 {
  font-size: 14px;
}

/* line 482, ../sass/_bootstrap.scss */
.h6,
h6 {
  font-size: 12px;
}

/* line 487, ../sass/_bootstrap.scss */
p {
  margin: 0 0 10px;
}

/* line 491, ../sass/_bootstrap.scss */
.small,
small {
  font-size: 85%;
}

/* line 496, ../sass/_bootstrap.scss */
.mark,
mark {
  padding: .2em;
  background-color: #fcf8e3;
}

/* line 502, ../sass/_bootstrap.scss */
.text-center {
  text-align: center;
}

/* line 506, ../sass/_bootstrap.scss */
ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 512, ../sass/_bootstrap.scss */
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

/* line 519, ../sass/_bootstrap.scss */
dl {
  margin-top: 0;
  margin-bottom: 20px;
}

/* line 524, ../sass/_bootstrap.scss */
dd,
dt {
  line-height: 1.42857143;
}

/* line 529, ../sass/_bootstrap.scss */
dt {
  font-weight: 700;
}

/* line 533, ../sass/_bootstrap.scss */
dd {
  margin-left: 0;
}

/* line 537, ../sass/_bootstrap.scss */
abbr[data-original-title],
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}

/* line 543, ../sass/_bootstrap.scss */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

/* line 550, ../sass/_bootstrap.scss */
blockquote ol:last-child,
blockquote p:last-child,
blockquote ul:last-child {
  margin-bottom: 0;
}

/* line 556, ../sass/_bootstrap.scss */
blockquote .small,
blockquote footer,
blockquote small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}

/* line 565, ../sass/_bootstrap.scss */
blockquote .small:before,
blockquote footer:before,
blockquote small:before {
  content: '\2014 \00A0';
}

/* line 571, ../sass/_bootstrap.scss */
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}

/* line 577, ../sass/_bootstrap.scss */
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* line 584, ../sass/_bootstrap.scss */
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/* line 592, ../sass/_bootstrap.scss */
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 601, ../sass/_bootstrap.scss */
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
  box-shadow: none;
}

/* line 608, ../sass/_bootstrap.scss */
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* line 622, ../sass/_bootstrap.scss */
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

/* line 631, ../sass/_bootstrap.scss */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  /* line 639, ../sass/_bootstrap.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 645, ../sass/_bootstrap.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 651, ../sass/_bootstrap.scss */
  .container {
    width: 1170px;
  }
}
/* line 657, ../sass/_bootstrap.scss */
table {
  background-color: transparent;
}

/* line 661, ../sass/_bootstrap.scss */
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

/* line 668, ../sass/_bootstrap.scss */
th {
  text-align: left;
}

/* line 672, ../sass/_bootstrap.scss */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

/* line 678, ../sass/_bootstrap.scss */
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

/* line 690, ../sass/_bootstrap.scss */
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

/* line 695, ../sass/_bootstrap.scss */
.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}

/* line 704, ../sass/_bootstrap.scss */
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}

/* line 708, ../sass/_bootstrap.scss */
.table .table {
  background-color: #fff;
}

/* line 712, ../sass/_bootstrap.scss */
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > thead > tr > td.active,
.table > thead > tr > th.active {
  background-color: #f5f5f5;
}

/* line 727, ../sass/_bootstrap.scss */
.table > tbody > tr.success > td,
.table > tbody > tr.success > th,
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tfoot > tr.success > td,
.table > tfoot > tr.success > th,
.table > tfoot > tr > td.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > thead > tr.success > th,
.table > thead > tr > td.success,
.table > thead > tr > th.success {
  background-color: #dff0d8;
}

/* line 742, ../sass/_bootstrap.scss */
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th,
.table > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > thead > tr.warning > th,
.table > thead > tr > td.warning,
.table > thead > tr > th.warning {
  background-color: #fcf8e3;
}

/* line 757, ../sass/_bootstrap.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 764, ../sass/_bootstrap.scss */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

/* line 776, ../sass/_bootstrap.scss */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

/* line 783, ../sass/_bootstrap.scss */
input[type=search] {
  box-sizing: border-box;
}

/* line 787, ../sass/_bootstrap.scss */
input[type=checkbox],
input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}

/* line 794, ../sass/_bootstrap.scss */
input[type=file] {
  display: block;
}

/* line 798, ../sass/_bootstrap.scss */
input[type=range] {
  display: block;
  width: 100%;
}

/* line 803, ../sass/_bootstrap.scss */
select[multiple],
select[size] {
  height: auto;
}

/* line 808, ../sass/_bootstrap.scss */
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 815, ../sass/_bootstrap.scss */
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}

/* line 823, ../sass/_bootstrap.scss */
input[type=search] {
  -webkit-appearance: none;
}

/* line 827, ../sass/_bootstrap.scss */
.checkbox,
.radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 835, ../sass/_bootstrap.scss */
.checkbox label,
.radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

/* line 844, ../sass/_bootstrap.scss */
.checkbox input[type=checkbox],
.radio input[type=radio] {
  position: absolute;
  margin-top: 4px\9;
  margin-left: -20px;
}

/* line 851, ../sass/_bootstrap.scss */
.checkbox + .checkbox,
.radio + .radio {
  margin-top: -5px;
}

/* line 856, ../sass/_bootstrap.scss */
fieldset[disabled] input[type=checkbox],
fieldset[disabled] input[type=radio],
input[type=checkbox].disabled,
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=radio][disabled] {
  cursor: not-allowed;
}

/* line 865, ../sass/_bootstrap.scss */
.checkbox.disabled label,
.radio.disabled label,
fieldset[disabled] .checkbox label,
fieldset[disabled] .radio label {
  cursor: not-allowed;
}

/* line 872, ../sass/_bootstrap.scss */
.open > a {
  outline: 0;
}

/* line 876, ../sass/_bootstrap.scss */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* line 882, ../sass/_bootstrap.scss */
.nav > li {
  position: relative;
  display: block;
}

/* line 887, ../sass/_bootstrap.scss */
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

/* line 893, ../sass/_bootstrap.scss */
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}

/* line 899, ../sass/_bootstrap.scss */
.nav > li.disabled > a {
  color: #777;
}

/* line 903, ../sass/_bootstrap.scss */
.nav > li.disabled > a:focus,
.nav > li.disabled > a:hover {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

/* line 911, ../sass/_bootstrap.scss */
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #eee;
  border-color: #337ab7;
}

/* line 918, ../sass/_bootstrap.scss */
.nav > li > a > img {
  max-width: none;
}

/* line 922, ../sass/_bootstrap.scss */
.nav-pills > li {
  float: left;
}

/* line 926, ../sass/_bootstrap.scss */
.nav-pills > li > a {
  border-radius: 4px;
}

/* line 930, ../sass/_bootstrap.scss */
.nav-pills > li + li {
  margin-left: 2px;
}

/* line 934, ../sass/_bootstrap.scss */
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #337ab7;
}

/* line 941, ../sass/_bootstrap.scss */
.nav-stacked > li {
  float: none;
}

/* line 945, ../sass/_bootstrap.scss */
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

/* line 950, ../sass/_bootstrap.scss */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

/* line 963, ../sass/_bootstrap.scss */
a.label:focus,
a.label:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* line 970, ../sass/_bootstrap.scss */
.label:empty {
  display: none;
}

/* line 974, ../sass/_bootstrap.scss */
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

/* line 982, ../sass/_bootstrap.scss */
.jumbotron .h1,
.jumbotron h1 {
  color: inherit;
}

/* line 987, ../sass/_bootstrap.scss */
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

/* line 993, ../sass/_bootstrap.scss */
.jumbotron > hr {
  border-top-color: #d5d5d5;
}

/* line 997, ../sass/_bootstrap.scss */
.container .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}

/* line 1003, ../sass/_bootstrap.scss */
.jumbotron .container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  /* line 1008, ../sass/_bootstrap.scss */
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  /* line 1012, ../sass/_bootstrap.scss */
  .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }

  /* line 1016, ../sass/_bootstrap.scss */
  .jumbotron .h1,
  .jumbotron h1 {
    font-size: 63px;
  }
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
/* line 1040, ../sass/_bootstrap.scss */
.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 1049, ../sass/_bootstrap.scss */
.media {
  margin-top: 15px;
}

/* line 1053, ../sass/_bootstrap.scss */
.media:first-child {
  margin-top: 0;
}

/* line 1057, ../sass/_bootstrap.scss */
.media {
  overflow: hidden;
  zoom: 1;
}

/* line 1062, ../sass/_bootstrap.scss */
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 1072, ../sass/_bootstrap.scss */
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

/* line 1077, ../sass/_bootstrap.scss */
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

/* line 1088, ../sass/_bootstrap.scss */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

/* line 1097, ../sass/_bootstrap.scss */
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

/* line 1106, ../sass/_bootstrap.scss */
.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.nav:after,
.nav:before {
  display: table;
  content: " ";
}

/* line 1117, ../sass/_bootstrap.scss */
.clearfix:after,
.container:after,
.nav:after {
  clear: both;
}

/* line 1123, ../sass/_bootstrap.scss */
.show {
  display: block !important;
}

/* line 1127, ../sass/_bootstrap.scss */
.hidden {
  display: none !important;
}

@-ms-viewport {
  width: device-width;
}
/* line 1, ../sass/helpers/_sticky.scss */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* line 1, ../sass/layout/_card.scss */
.card {
  border-radius: 1rem;
  background-color: #EEEEEE;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
/* line 8, ../sass/layout/_card.scss */
.card .card-img {
  height: 250px;
}
/* line 11, ../sass/layout/_card.scss */
.card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover; object-position: bottom;';
}
/* line 19, ../sass/layout/_card.scss */
.card .card-description {
  padding: 1rem;
}
/* line 23, ../sass/layout/_card.scss */
.card .card-controllers {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: rgba(238, 238, 238, 0.6);
  padding: 0.75rem;
}
/* line 34, ../sass/layout/_card.scss */
.card .card-controllers .favorite svg {
  height: 1.5rem;
}
/* line 37, ../sass/layout/_card.scss */
.card .card-controllers .favorite svg path {
  fill: #000000;
}
/* line 43, ../sass/layout/_card.scss */
.card .card-controllers .favorite.enabled svg path {
  fill: red;
}
/* line 49, ../sass/layout/_card.scss */
.card .card-controllers button {
  border: 0;
  background-color: transparent;
}
/* line 55, ../sass/layout/_card.scss */
.card .card-controllers .delete span {
  font-size: 2.125rem;
  color: #000000;
}

/* line 1, ../sass/layout/_content.scss */
.content {
  display: flex;
}
/* line 4, ../sass/layout/_content.scss */
.content .main-content {
  flex: 1;
}

/* line 1, ../sass/layout/_main-navigation.scss */
.main-navigation {
  max-width: 150px;
  padding-right: 4rem;
  padding-top: 2rem;
}
@media (max-width: 479px) {
  /* line 1, ../sass/layout/_main-navigation.scss */
  .main-navigation {
    display: none;
  }
}

/* line 2, ../sass/layout/_grid.scss */
.grid:after, .footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 9, ../sass/layout/_grid.scss */
.grid {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
  list-style: none;
}

/* line 20, ../sass/layout/_grid.scss */
[class^='grid-'],
[class*=' grid-'] {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

/* line 27, ../sass/layout/_grid.scss */
.grid-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  /* line 32, ../sass/layout/_grid.scss */
  .grid-sm-6 {
    width: calc( 100% / 2 );
  }
}
@media (min-width: 992px) {
  /* line 38, ../sass/layout/_grid.scss */
  .grid-md-4 {
    width: calc( 100% / 3 );
  }
}
/* line 2, ../sass/layout/_staff.scss */
.staff .row, .staff .row-reverse {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
/* line 9, ../sass/layout/_staff.scss */
.staff .row:last-child, .staff .row-reverse:last-child {
  border-bottom: none;
}
/* line 14, ../sass/layout/_staff.scss */
.staff .row-reverse {
  flex-direction: row-reverse;
}
/* line 18, ../sass/layout/_staff.scss */
.staff .row-reverse .row-text {
  margin-right: 10px;
  margin-left: 0;
}
/* line 24, ../sass/layout/_staff.scss */
.staff .row-img {
  width: 100%;
  max-width: 30%;
}
@media (max-width: 768px) {
  /* line 24, ../sass/layout/_staff.scss */
  .staff .row-img {
    max-width: 45%;
  }
}
/* line 33, ../sass/layout/_staff.scss */
.staff .img-profile {
  height: auto;
  width: 100%;
  padding-top: 100%;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 43, ../sass/layout/_staff.scss */
.staff .row-text {
  max-width: 70%;
  margin-left: 10px;
}
@media (max-width: 768px) {
  /* line 43, ../sass/layout/_staff.scss */
  .staff .row-text {
    max-width: 55%;
  }
}
/* line 51, ../sass/layout/_staff.scss */
.staff .row-text p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  background-color: cornflowerblue;
  color: white;
}
/* line 6, ../sass/layout/_footer.scss */
.footer .centering {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 15px;
}
/* line 13, ../sass/layout/_footer.scss */
.footer h2 {
  text-align: center;
}

/* line 19, ../sass/layout/_footer.scss */
.newsletter .field {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 15px;
}
/* line 25, ../sass/layout/_footer.scss */
.newsletter input {
  width: 100%;
  font-weight: 300;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
}
/* line 33, ../sass/layout/_footer.scss */
.newsletter input[type="checkbox"] {
  width: auto;
}
/* line 37, ../sass/layout/_footer.scss */
.newsletter .button {
  width: auto;
  background-color: white;
}

/*# sourceMappingURL=screen.purge.css.map */
